.boton{
	border: 1px solid white;
	@include botonBorde;
	font-family: $basefont_light ;
	font-size: $size_big;
	color: white;
	width: 190px;
	height: 45px;
	display: block;
	margin: 0 auto;
	margin-bottom: 1rem;
}