.informacion {
    .contenedor-informacion {
        max-height: 400px;
        overflow-y: scroll;
        margin-bottom: 2rem;
        p {
            font-family: $font-second;
            color: white;
            font-size: 15px;
            line-height: 22px;
        }
        .info {
            padding-right: 15px;
        }
    }
    ::-webkit-scrollbar-thumb {
        background-color: #b3c6cb;
    }
    ::-webkit-scrollbar {
        width: 12px !important;
        background-color: #82a3b2 !important;
    }
}

