
// carpeta de fuentes

$font-dir: "../fonts";


// tamaños  de fuentes

$basefont : "dosisregular", Helvetica, Arial, sans-serif;
$basefont_light : "dosislight", Helvetica, Arial, sans-serif;
$basefont_medium : "dosismedium", Helvetica, Arial, sans-serif;